<div
  class="relative w-full min-w-2xl aspect-video overflow-hidden group bg-black rounded-xl border border-white/5 shadow-2xl font-sans mx-auto">
  <!-- Barra Superior Componetizada -->
  <app-video-player-top-bar
    [title]="store.currentVideo().title"
    (togglePlaylist)="togglePlaylist()" />

  <!-- Video original vinculado al Store -->
  <video
    #videoRef
    class="w-full h-full absolute inset-0 object-contain"
    [src]="store.currentVideo().url.mp4 || store.currentVideo().url.webm"
    [muted]="true"></video>

  <!-- Overlay de la Playlist Componetizado -->
  @if (showPlaylist()) {
  <app-video-playlist-overlay (close)="showPlaylist.set(false)" />
  }

  <!-- Controles Componetizados -->
  <app-video-player-controls
    [isPlaying]="isPlaying()"
    [currentTime]="currentTime()"
    [duration]="duration()"
    [playbackRate]="playbackRate()"
    [volume]="volume()"
    [isMuted]="isMuted()"
    [progress]="progress()"
    [isPlaylistOpen]="showPlaylist()"
    (togglePlay)="togglePlay()"
    (changeSpeed)="changeSpeed()"
    (toggleMute)="toggleMute()"
    (toggleFullscreen)="toggleFullscreen()"
    (togglePlaylist)="togglePlaylist()"
    (seek)="seek($event)"
    (setVolume)="setVolume($event)" />
</div>
