<button
  class="grid place-content-center select-none group"
  type="button"
  [attr.title]="nameFile || null"
  [attr.aria-label]="'open ' + [nameFile || label]"
>
  <figure [ngStyle]="{ width: size +'px', height: size +'px'}"
    class="relative">
    <img class="absolute"
      [ngSrc]="icon" 
      alt="folder"
      fill
      >
      @if (nameFile) {
        <figcaption 
          class="text-white absolute bottom-0 translate-y-full left-2/4 -translate-x-2/4 text-sm pt-1 capitalize">
          {{nameFile}}
        </figcaption>
      }
      @if (label) {
        <figcaption class="absolute left-0 bg-stone-900 text-white translate-x-14 w-max capitalize text-sm  top-2/4 -translate-y-2/4 py-1 px-3 border-[.1rem] border-stone-600 rounded-2xl tracking-wide opacity-0 pointer-events-none group-hover:opacity-100 transition-opacity">
          {{label}}
        </figcaption>
      }
  </figure>
</button>