<button
  class="grid place-content-center select-none"
  type="button"
  [title]="nameFile"
  [attr.aria-label]="'open ' + nameFile"
>
  <figure [ngStyle]="{ width: size +'px', height: size +'px'}"
    class="relative">
    <img class="absolute"
      [ngSrc]="icon" 
      alt="folder"
      priority
      fill
      >
      @if (nameFile) {
        <figcaption 
          class="text-white absolute bottom-0 translate-y-full left-2/4 -translate-x-2/4 text-sm pt-1 capitalize">
          {{nameFile}}
        </figcaption>
      }
  </figure>
</button>