<section 
  class="flex gap-4 absolute top-0 left-2/4 -translate-x-2/4 translate-y-8 bg-[#1D1D1D] rounded-xl border-stone-600 border-[.1rem] p-4"
>
  <div class="relative w-[200px] md:w-[300px] before:absolute before:bg-stone-600 before:w-[.1rem] before:rounded-md before:right-0 before:h-full grid grid-rows-[auto_1fr]">
    <header class="py-4 font-medium">
      <app-simple-clock
      class="md:text-3xl text-2xl justify-between" 
      [clock]="date" 
      [configClock]="{
          type: 'regular',
          hasVariableIcons: true
        }" 
      />
    </header>
    <div class="flex flex-col gap-4 justify-between">
      <div class="grid gap-2">
        <h2 class="text-stone-400 text-xl">
          Pending tasks
        </h2>
        <ul>
          @for (item of tasks; track $index) {
            <li>{{item}}</li>
          }
          @empty {
            <li>No pending tasks congratulations</li>
          }
        </ul>
      </div>
        <mat-slide-toggle
          class="select-none pb-4" 
          [labelPosition]="'before'"
        >
        <span class="text-white pr-2">
          Activate silent mode
        </span>
        </mat-slide-toggle>
    </div>
  </div>

  <div>

    <span class="grid py-4 text-stone-400">
      <time>
        {{actuallyDate | date:'EEEE'}}
      </time>
      <time class="text-xl font-medium">
        {{actuallyDate | date:'MMMM d, y'}}
      </time>
    </span>

    <mat-card class="w-[300px] text-blue-400">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>

    <figure class="p-4 bg-[#2C2C2C] mt-4 rounded-xl grid gap-2">
      <figcaption class="text-stone-400">
        @if (!selected) {
          Hoy
        }@else {
          {{selected | date:'MMM d, y'}}
        }
      </figcaption>
      <p>No hay eventos</p>
    </figure>

  </div>
</section>
