:host {
  display: contents;
  display: grid;
  place-content: center;
  height: 100%;
}

.message {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition:
    opacity 0.5s,
    transform 0.5s;

  & .message-svg {
    transform: rotate(180deg);
    padding-inline: 0.1rem;
  }

  @starting-style {
    opacity: 0;
    transform: translateY(1rem);
  }
}
