DATABASE_URL = Path to the SQLite database file

TURSO_DATABASE_URL = URL of the Turso database
TURSO_AUTH_TOKEN = Turso authentication token

CLOUDINARY_CLOUD_NAME = Cloudinary cloud name
CLOUDINARY_API_KEY = Cloudinary API key
CLOUDINARY_API_SECRET = Cloudinary API secret
CLOUDINARY_URL = Cloudinary URL including the API key and secret