<section
  class="todo"
  *ngrxLet="{
    todos: todos$,
    currentFilter: currentFilter$,
    isLoading: isLoading$,
  } as store">
  <app-task-input-field />
  <app-divider-x />

  @if (store.isLoading) {
    <span class="todo-loader">loading tasks ...</span>
  }

  @if (!store.isLoading) {
    @let todos =
      store.currentFilter === "all"
        ? store.todos
        : (store.todos | filter: store.currentFilter : "status");

    <app-list-tasks [tasks]="todos" [allTasksNumber]="store.todos.length" />
  }
</section>
