<app-window-wrapper
  [appTitle]="$currentSection()"
  cdkDragBoundary="#container-boundary">
  <span class="u-padding-left" header> Settings </span>
  <div class="nautilus" body>
    <app-nautilus-sidebar />
    <div class="nautilus-content scrollStyle">
      @if ($component() && !$errorRender()) {
        <ng-container *ngComponentOutlet="$component()" />
      } @else if ($errorRender()) {
        <app-nautilus-error-render [$messageError]="$errorRender()">
          <app-nautilus-button
            [$isInteractive]="true"
            [$message]="'try again'"
            (click)="renderSection($currentSection())" />
        </app-nautilus-error-render>
      } @else {
        <app-loader />
      }
    </div>
  </div>
</app-window-wrapper>
