:host {
  width: 100%;
  min-height: 10rem;
  background: linear-gradient(to bottom, #1f2937, #374151);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.record {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;

  & .record-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    padding: 0.4rem 0.8rem;
    border-bottom: 0.1rem solid black;
    transition: opacity 0.1s linear;

    @starting-style {
      opacity: 0;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  & .record-character {
    &:nth-child(1) {
      max-width: 15rem;
      justify-self: flex-start;
      letter-spacing: 0.1rem;
    }

    &:nth-child(3) {
      max-width: 4rem;
      font-weight: 600;
      justify-self: flex-end;
    }
  }
}

.u-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 0.5rem;

  & .display-input {
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    outline: none;
    text-align: start;
    resize: none;
  }

  & .display-error {
    text-align: start;
    font-size: 0.8rem;
    height: 1rem;
  }

  & .display-info {
    content-visibility: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0.5rem;
  }
}

@keyframes blink {
  0%,
  100% {
    color: green;
  }
  50% {
    color: rgba(0, 128, 0, 0.5);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .agitar {
    animation: animationname 400ms ease-in-out;
  }
}
@media (prefers-reduced-motion: reduce) {
  .agitar {
    /*Deshabilitar animation*/
  }
}
