<ng-container
  *ngrxLet="{
    records: record$,
    expression: expression$,
    hasAbsoluteFn: hasAbsoluteFn$,
    error: error$,
  } as state">
  <ul class="record scrollStyle">
    @for (item of state.records; track $index) {
      <li>
        <button
          class="record-item"
          title="use this expression"
          data-interactive
          (click)="updateExpression(item.expression)"
          type="button">
          <span [title]="item.expression" class="record-character u-truncate">
            {{ item.expression }}</span
          >
          <span class="record-character">=</span>
          <span [title]="item.result" class="record-character u-truncate">
            {{ item.result | number }}
          </span>
        </button>
      </li>
    } @empty {
      <app-calculator-record-empty />
    }
  </ul>
  <div class="display">
    @if (state.hasAbsoluteFn) {
      <small class="display-info"
        >Active absolute value <strong>(-5 --> 5)</strong></small
      >
    }

    <input
      class="display-input"
      #inputDisplay
      type="text"
      (input)="updateExpression(inputDisplay.value)"
      (keydown.enter)="executeOperation(state.expression)"
      [value]="state.expression" />

    <span class="display-error">
      {{ state.error || "" }}
    </span>
  </div>
</ng-container>
