<app-toolbar-container class="absolute m-2 top-0 left-2/4 -translate-x-2/4">
  <ul class="flex gap-2 h-fit">
    @for (color of hexColors; track color) {
    <li class="h-fit">
      <button
        aria-label="change color"
        class="size-7 block rounded-sm border-2 transition-all duration-200 active:scale-90"
        [class.border-amber-400]="store.currentColor() === color"
        [class.scale-110]="store.currentColor() === color"
        [class.z-10]="store.currentColor() === color"
        [class.border-white/40]="store.currentColor() !== color"
        [class.ring-2]="store.currentColor() === color"
        [class.ring-white/20]="store.currentColor() === color"
        [ngStyle]="{ backgroundColor: color }"
        (click)="onChange(color)"
        type="button"></button>
    </li>
    }
    <li>
      <app-color-picker (changeColor)="onChange($event)" />
    </li>
  </ul>
</app-toolbar-container>
