<section
  class="flex flex-col bg-[#ebebeb] dark:bg-[#2c2c2c] overflow-hidden shadow-2xl border border-black/10 dark:border-white/5"
  [class.size-fit]="!isMaximized()"
  [class.rounded-t-xl]="!isMaximized()"
  [class.fixed]="isMaximized()"
  [class.inset-0]="isMaximized()"
  [class.z-[999]]="isMaximized()"
  [class.m-0]="isMaximized()"
  cdkDrag
  [cdkDragDisabled]="isMaximized()"
  [cdkDragConstrainPosition]="constrainPosition">
  <header
    class="flex items-center justify-between px-4 py-2 bg-gradient-to-b from-[#f7f7f7] to-[#ebebeb] dark:from-[rgb(57,57,57)] dark:to-[#2c2c2c] border-b border-black/10 dark:border-white/5 select-none"
    cdkDragHandle>
    <div class="flex items-center gap-3">
      <ng-content select="[header]" />
      <h2
        class="text-[13px] font-medium text-black/70 dark:text-white/80 capitalize">
        {{ appTitle() || "Empty title" }}
      </h2>
    </div>

    <div class="flex items-center gap-1.5">
      <button
        type="button"
        (click)="onClick(WindowActions.MINIMIZE_WINDOW)"
        class="group flex items-center justify-center w-6 h-6 rounded-full bg-black/5 dark:bg-white/5 hover:bg-black/10 dark:hover:bg-white/10 transition-all duration-200"
        title="Minimizar">
        <span
          class="material-symbols-outlined text-[16px] text-black/60 dark:text-white/50 group-hover:text-black dark:group-hover:text-white"
          >horizontal_rule</span
        >
      </button>

      <button
        type="button"
        (click)="onClick(WindowActions.MAXIMIZE_WINDOW)"
        class="group flex items-center justify-center w-6 h-6 rounded-full bg-black/5 dark:bg-white/5 hover:bg-black/10 dark:hover:bg-white/10 transition-all duration-200"
        title="Maximizar">
        <span
          class="material-symbols-outlined text-[16px] text-black/60 dark:text-white/50 group-hover:text-black dark:group-hover:text-white"
          >{{ isMaximized() ? "collapse_content" : "expand_content" }}</span
        >
      </button>

      <button
        type="button"
        (click)="onClick(WindowActions.CLOSE_WINDOW)"
        class="group flex items-center justify-center w-6 h-6 rounded-full bg-[#E95420]/10 hover:bg-[#E95420] transition-all duration-200"
        title="Cerrar">
        <span
          class="material-symbols-outlined text-[16px] text-[#E95420] dark:text-[#E95420] group-hover:text-white"
          >close</span
        >
      </button>
    </div>
  </header>

  <div
    class="flex-1 overflow-auto bg-white/95 dark:bg-[#1e1e1e]/95 backdrop-blur-md">
    <ng-content select="[body]" />
  </div>
</section>
