<section
  class="window max-window"
  cdkDragBoundary="#container-boundary"
  cdkDrag
  [cdkDragFreeDragPosition]="dragPosition">
  <header class="window-header" cdkDragHandle>
    <ng-content select="[header]" />
    <h2 class="window-title">
      {{ appTitle() || "Empty title" }}
    </h2>
    <nav>
      <ul class="window-controls">
        @for (icon of controls; track icon.label) {
          <li class="window-control">
            <app-btn-basic
              class="window-btn"
              [titleBtn]="icon.label"
              (click)="onClick(icon.label)"
              [btnData]="icon" />
          </li>
        }
      </ul>
    </nav>
  </header>
  <div>
    <ng-content select="[body]" />
  </div>
</section>
