<button
  #btnClock
  (click)="showCalendar()"
  type="button" 
  class="flex gap-2"
  aria-label="view clock and calendar"
>
  <time [dateTime]=" clock | date: 'y-M-d'">
    {{clock | date: 'd LLL'}}
  </time>

  <time [dateTime]=" clock | date: 'HH:mm:ss aaa'">
    {{clock | date: 'HH:mm:ss' }}
  </time>
</button>
<!-- <time [dateTime]=" clock | date: 'hh:mm:ss aaa'">
  {{clock | date: 'hh:mm:ss aaa' }}
</time> -->

@defer (on hover(btnClock)) {
  @if (isViewCalendar) {
    <app-calendar class="absolute bg-white"/>
  }
}
