<div class="relative" (clickOutside)="close()">
  <button
    (click)="listToggle()"
    [title]="currentLanguage()"
    type="button"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 w-28 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 font-medium max-w-40 px-4 py-2 flex items-center gap-2 capitalize">
    <span class="truncate">
      {{ currentLanguage() }}
    </span>
    <svg
      class="scale-75 block shrink-0 grow"
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569z" />
    </svg>
  </button>

  @if (isViewoptions()) {
    <ul
      class="absolute max-h-40 overflow-y-scroll rounded-lg mt-4 bg-[#2e2e2e] px-1 custom-scroll overflow-hidden animate-fade-out-down animate-direction-reverse animate-duration-300 shadow-lg scrollStyle"
      #selector>
      @for (lang of listLanguages; track lang.no; let i = $index) {
        <li>
          <button
            class="w-40 truncate text-left p-2 block hover:bg-orange-500 rounded-sm"
            [class.bg-orange-500]="currentIndex() === i"
            (click)="selectLanguage(lang.name, i)"
            type="button">
            {{ lang.name }}
          </button>
        </li>
      }
    </ul>
  }
</div>
