<app-window-wrapper
  [appTitle]="currentSection()"
  cdkDragBoundary="#container-boundary">
  <span class="u-padding-left text-text/80 font-medium" header> Settings </span>

  <div
    class="flex h-[600px] w-[1000px] bg-primary text-text overflow-hidden rounded-b-xl border border-text/5"
    body>
    <app-nautilus-sidebar class="h-full border-r border-text/10" />

    <div class="flex-1 flex flex-col h-full bg-secondary/40 backdrop-blur-md">
      @if (!['background', 'appearance', 'privacy', 'notifications', 'about',
      'applications', 'users'].includes(currentSection())) {
      <div class="px-8 pt-10 pb-6 border-b border-text/5 bg-text/5">
        <h2 class="text-4xl font-extrabold tracking-tight text-text/95">
          {{ currentSection() }}
        </h2>
        <p class="text-text/40 text-sm mt-2 font-medium italic">
          System settings for {{ currentSection() }}
        </p>
      </div>
      }

      <div class="flex-1 overflow-y-auto px-8 py-8 custom-scrollbar">
        <div class="max-w-3xl mx-auto">
          @if (activeView.value(); as component) {
          <ng-container *ngComponentOutlet="component" />
          }
        </div>
      </div>
    </div>
  </div>
</app-window-wrapper>
