<textarea
  [formControl]="textBoxControl"
  (input)="saveInputText(textBoxControl.value)"
  aria-label="box input"
  name="boxInput"
  class="translator-input scrollStyle"></textarea>
<div class="boxInput-controls">
  <span class="boxInput-counter">
    @if (textBoxControl.value.length > 100) {
      <strong class="boxInput-info text-orange-400">Max exceded: </strong>
    }
    {{ textBoxControl.value.length }} / 100
  </span>
  <app-btn-file
    class="boxInput-btn"
    [cdkCopyToClipboard]="textBoxControl.value"
    [size]="16"
    icon="assets/extra-icons/copy.svg"
    title="copy to clipboard"
    [hasInteractivity]="true" />
</div>
