:host {
  display: contents;
}

.button-calculator {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  background-color: #e7e7e7;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:is([data-calculator="="]) {
    background-color: rgb(241, 125, 57);
    color: white;
  }

  &:is([data-calculator="C"]) {
    background-color: rgb(226, 50, 50);
    color: #e7e7e7;
  }
}

:where(
    [data-calculator="0"],
    [data-calculator="1"],
    [data-calculator="2"],
    [data-calculator="3"],
    [data-calculator="4"],
    [data-calculator="5"],
    [data-calculator="6"],
    [data-calculator="7"],
    [data-calculator="8"],
    [data-calculator="9"],
    [data-calculator="C"]
  ) {
  font-weight: 700;
  font-size: 1rem;
  background-color: #d4d4d4;
}

.btn-equal {
  grid-area: 4/5/6/6;
}

.aboslute-active {
  background-color: green;
}
