<nav class="flex justify-between items-center py-2 px-4 bg-header gap-8">
  <div class="flex gap-4">
    <app-selector action="from" currentLanguage="Spanish" />
    <app-selector action="to" currentLanguage="English" />
  </div>

  <button
    title="translate text"
    (click)="translateText()"
    [disabled]="$isDisabled()"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 w-fit dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 font-medium max-w-40 px-4 py-2 tracking-wider disabled:cursor-not-allowed disabled:opacity-70"
    type="button">
    translate
  </button>
</nav>
