<main class="desktop">
  <div class="desktop-content">
    <h1>Ubuntu Desktop (Minimal)</h1>
    <p>App started with minimal components.</p>
    <!--
    <app-navbar-desktop />
    <app-sidebar [$mainIcons]="mainIcons" [$secondaryIcons]="secondaryIcons" />
    <app-desktop>
      <app-list-app>
        @for (icon of desktopIcons; track icon.id) {
          <li>
            <app-app-item [$appData]="icon" [lazeComponent]="APPS[icon.app]" />
          </li>
        }
      </app-list-app>
    </app-desktop>
    -->
  </div>
</main>
