<nav class="flex justify-between items-center py-2 px-4 bg-header">
  <div class="flex gap-4">
    <app-selector
      [buttonConfig]="{
        initLanguage: 'Spanish',
        typeAction: 'from'
      }"
    />
    <app-selector
      [buttonConfig]="{
        initLanguage: 'English',
        typeAction: 'to'
      }"
    />
  </div>

  <button
    title="translate text"
    (click)="translateText()"
    [disabled]="((currentTextLength | async) ?? 0) >= maxTextCharacters"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 w-fit dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 font-medium max-w-40 px-4 py-2 tracking-wider disabled:cursor-not-allowed"
    type="button"
  >
    translate
  </button>
</nav>
