<nav class="flex justify-between items-center py-2">
  <div class="flex gap-4">
    <app-selector initButtonValue="spanish" />
    <app-selector initButtonValue="english" />
  </div>
  <button class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 w-fit dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 font-medium max-w-40 px-4 py-2 tracking-wider" type="button">translate</button>
</nav>
