<main
  class="grid grid-rows-[auto_1fr_auto] bg-[#4F194C] min-h-dvh text-white py-1 px-3">
  <nav class="flex justify-between items-center select-none">
    <div aria-hidden="true" class="opacity-0">ubuntu</div>
    <app-clock [configClock]="{ hasDayAndMonth: true }" />
    <app-nav-desktop-control />
  </nav>
  <div
    class="flex flex-col justify-center items-center max-w-80 w-full mx-auto">
    <ng-content>
      <app-loader [size]="50" />
    </ng-content>
  </div>
  <app-ubuntu-logo class="py-4" />
</main>
