<section
  class="flex gap-4 absolute top-0 left-2/4 -translate-x-2/4 translate-y-8 bg-[#1D1D1D] rounded-xl border-stone-600 border-[.1rem] p-4">
  <div
    class="relative w-[200px] md:w-[300px] before:absolute before:bg-stone-600 before:w-[.1rem] before:rounded-md before:right-0 before:h-full grid grid-rows-[auto_1fr] pr-4">
    <header class="py-4 font-medium">
      <app-clock
        class="md:text-3xl text-2xl justify-between"
        [configClock]="{
          type: 'regular',
          hasVariableIcons: true,
        }" />
    </header>
    <div class="flex flex-col gap-4 justify-between">
      <div class="grid gap-2">
        <app-todo />
      </div>
      <label class="inline-flex items-center cursor-pointer select-none pb-4">
        <span class="text-white pr-2 text-sm"> Activate silent mode </span>
        <div class="relative">
          <input type="checkbox" class="sr-only peer" />
          <div
            class="w-10 h-5 bg-stone-700 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-orange-600"></div>
        </div>
      </label>
    </div>
  </div>

  <div>
    <span class="grid py-4 text-stone-400">
      <time>
        {{ actuallyDate | date: "EEEE" }}
      </time>
      <time class="text-xl font-medium">
        {{ actuallyDate | date: "MMMM d, y" }}
      </time>
    </span>

    <div
      class="w-[300px] h-[300px] bg-stone-800/50 rounded-xl flex flex-col items-center justify-center text-stone-500 border border-stone-700 gap-2">
      <span class="material-symbols-outlined text-6xl">calendar_month</span>
      <span class="text-sm font-medium">Calendario</span>
    </div>

    <figure class="p-4 bg-[#2C2C2C] mt-4 rounded-xl grid gap-2">
      <figcaption class="text-stone-400">
        @if (!selected) {
          Hoy
        } @else {
          {{ selected | date: "MMM d, y" }}
        }
      </figcaption>
      <p>No hay eventos</p>
    </figure>
  </div>
</section>
