:host {
  display: contents;
}

.porfolio {
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: aliceblue;

  .porfolio-header {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    background-color: rgb(252, 225, 71);
  }


  .slider {
    scroll-snap-type: y mandatory;
    min-height: 100dvh;
    overflow: scroll;

    .slider-child {
      min-height: 100dvh;
      scroll-snap-align: center;

      &:nth-child(1) {
        background-color: antiquewhite;
      }

      &:nth-child(2) {
        background-color: rgb(194, 117, 17);
      }
    }
  }

  .porfolio-footer {

  }
}