<section
  cdkDrag
  #windowTarget 
  class="w-[40rem] h-[45rem] bg-white overflow-hidden grid-rows-[auto_1fr] rounded-t-lg absolute top-0"
>
  <header class="p-2 border-b-2 select-none">
    <nav class="flex justify-between items-center">
      <button type="button" class="w-max h-6 p-2">
        Abrir ▼
      </button>
      <button type="button">
        +
      </button>
      <h2>
        Documento sin titulo
      </h2>
      <button type="button">
        Guardar
      </button>
      <button type="button">
        ☰
      </button>
      <app-window-control 
        [windowReference]="windowTarget"
      />
    </nav>
  </header>

  <div class="h-full porfolio">
    <!-- <textarea cols="4" rows="4" class="outline-none w-full h-full px-4 resize-none" name="bloc">
    </textarea> -->
    <header></header>
    <div>
      <section class="container-section"></section>
      <section class="container-section"></section>
      <section class="container-section"></section>
      <section class="container-section"></section>
    </div>
    <footer></footer>
  </div>
</section>
