.task {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto;
  transition: opacity 0.2s linear, transform .3s linear;
  
  @starting-style {
    opacity: 0;
    transform: translateY(1rem)
  }

  & .task-text {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .task-controls {
    position: relative;
  }
}