<ul
  id="container-boundary"
  #data
  class="grid grid-cols-desktop-col grid-rows-desktop-row gap-8 h-full select-none">
  @for (icon of selectDesktopAppIcons$ | async; track icon.id) {
    <li>
      <app-btn-file
        class="hover:bg-white/30 rounded-md grid place-content-center active:cursor-move p-2"
        cdkDragBoundary="#container-boundary"
        cdkDrag
        #btnFile
        [icon]="icon.icon"
        [size]="50"
        [nameFile]="icon.name"
        [priority]="icon.name === 'my github' ? true : false"
        hasInteractivity="true" />
    </li>

    @defer (on interaction(btnFile)) {
      <app-portal-component [$componentSelected]="icon.name" />
    }
  }
</ul>
