<nav 
  id="separator-sidebar" 
  class="flex flex-col justify-between items-center fixed top-0 px-2 bottom-0 left-0 z-40 w-max min-h-[100dvh] transition-transform -translate-x-full sm:translate-x-0 bg-black/60 select-none" 
  aria-label="Sidebar"
>
  <ul cdkDropListGroup>
    <ul
      cdkDropList
      [cdkDropListData]="mainIcons"
      (cdkDropListDropped)="drop($event)"
      class="space-y-2 font-medium  mx-auto flex flex-col example-list min-h-[3rem]"
    >
      @for (icon of mainIcons; track icon.id) {
        <li cdkDrag 
          class="p-[.4rem] rounded-xl hover:bg-white/20">
          <app-btn-file [icon]="icon.icon"  [size]="35"/>
        </li>
      }
    </ul>
  
    <ul
      cdkDropList
      [cdkDropListData]="secondaryIcons"
      (cdkDropListDropped)="drop($event)"
      class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-500/60 flex flex-col">
      @for (icon of secondaryIcons; track icon.id) {
        <li cdkDrag 
          class="p-[.4rem] rounded-xl hover:bg-white/20">
          <app-btn-file [icon]="icon.icon" [size]="35"/>
        </li>
      }
    </ul>
  </ul>

  <app-btn-file class="mb-4" 
    icon="assets/sidebarIcons/menuDots.svg" 
    [size]="35"
  />
</nav>
