<nav 
  id="separator-sidebar" 
  class="flex flex-col justify-between items-center top-0 bottom-0 left-0 z-40 w-max h-full transition-transform -translate-x-full sm:translate-x-0 bg-black/60 select-none px-2" 
  aria-label="Sidebar"
>

  @if (sidebarIcons | async; as icons ) {
    <ul cdkDropListGroup>

      <li>
        <ul
          cdkDropList
          [cdkDropListData]="icons.mainIcons"
          (cdkDropListDropped)="drop($event)"
          class="space-y-2 font-medium  mx-auto flex flex-col example-list min-h-[3rem]"
        >
          @for (icon of icons.mainIcons; track icon.id) {
            <li cdkDrag 
              class="p-[.4rem] rounded-xl hover:bg-white/20">
              <app-btn-file 
                [icon]="icon.icon" 
                [size]="35"
                [label]="icon.name"
              />
            </li>
          }
        </ul>
      </li>

      <li>
        <ul
          cdkDropList
          [cdkDropListData]="icons.secondaryIcons"
          (cdkDropListDropped)="drop($event)"
          class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-500/60 flex flex-col">
          @for (icon of icons.secondaryIcons; track icon.id) {
            <li cdkDrag 
              class="p-[.4rem] rounded-xl hover:bg-white/20">
              <app-btn-file 
                [icon]="icon.icon" 
                [size]="35" 
                [label]="icon.name"
              />
            </li>
          }
        </ul>
      </li>
    
    </ul>
  }

  <app-btn-file class="mb-4" 
    icon="assets/sidebarIcons/menuDots.svg"
    label="Mostrar aplicaciones" 
    [size]="35"
  />
</nav>
