.calculator {
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1.25rem;

  & .calculator-content {
    position: relative;
    width: 100%;
    margin-inline: auto;
    border-radius: 0.75rem;
    background-color: #f3f4f6;
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    color: #1f2937;
    position: relative;
    overflow: hidden;
  }
}
