:host {
  display: block;
}

.nautilus-nav {
  height: 28rem;
  overflow-y: scroll;
  font-size: 0.875rem;
  line-height: 1.25rem;
  user-select: none;

  & .nautilus-nestedItem {
    position: relative;
    list-style: armenian;

    &::after {
      background-image: url("/assets/extra-icons/pan-end-symbolic.svg");
      background-size: cover;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      top: 0.7rem;
      background-size: cover;
      background-repeat: no-repeat;
      right: 1rem;
      height: 1rem;
      width: 1rem;
      transform: rotate(0deg);
      transition: transform 0.1s linear;
    }

    &[open] {
      & .nautilus-item--nested {
        background-color: #d97706;
      }

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  & .nautilus-item {
    width: 100%;
    padding: 0.625rem 0 0.625rem 1rem;
    text-align: left;
    cursor: pointer;
    list-style: none;

    &:hover {
      background-color: #d97706;
    }
  }
}
