<div
  class="flex gap-1 absolute top-2/4 bg-[#2C2C2C] rounded-sm p-1 translate-y-[-.5rem] -translate-x-8 right-0 border-[#57534E] border-[.1rem]"
>
  @for (btn of btnTaskList; track btn.label) {
    <app-btn-basic
      (click)="
        btn.functionBtn === 'change status'
          ? fnChangeStatus()
          : btn.functionBtn === 'delete task'
          ? fnDeleteTask()
          : btn.functionBtn === 'edit task'
          ? fnToggleEditPanel()
          : null
      "
      [title]="btn.label"
      [btnData]="btn"
      [customStyles]="{ scale: '1.5' }"
    />
  }
</div>
