@if (configClock.hasDayAndMonth) {
  <time [dateTime]=" clock | date: 'y-M-d'">
    {{clock | date: 'd LLL'}}
  </time>
}

<time [dateTime]=" clock | date: 'HH:mm:ss aaa'">
  @switch (configClock.type) {
    @case ('basic') {
      {{clock | date: 'HH:mm:ss'}}
    }
    @case('regular') {
      {{clock | date: 'HH:mm:ss aaa'}}
    }
    @case('complete') {
      {{clock | date: 'h:mm:ss a zzzz'}}
    }
    @default {
      {{clock | date: 'HH:mm' }}
    }
  }
</time>

@if (configClock.hasIcons) {
  <svg width="18" height="18" viewBox="0 0 24 24" aria-hidden="true">
    <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M0 0h24v24H0z" />
      <path fill="white"
        d="M17 3.34a10 10 0 1 1-14.995 8.984L2 12l.005-.324A10 10 0 0 1 17 3.34M12 6a1 1 0 0 0-.993.883L11 7v5l.009.131a1 1 0 0 0 .197.477l.087.1l3 3l.094.082a1 1 0 0 0 1.226 0l.094-.083l.083-.094a1 1 0 0 0 0-1.226l-.083-.094L13 11.585V7l-.007-.117A1 1 0 0 0 12 6" />
    </g>
  </svg>
}
