@if (configClock.hasDayAndMonth) {
  <time [dateTime]=" clock | date: 'y-M-d'">
    {{clock | date: 'd LLL'}}
  </time>
}

<time [dateTime]=" clock | date: 'HH:mm:ss aaa'">
  @switch (configClock.type) {
    @case ('basic') {
      {{clock | date: 'HH:mm:ss'}}
    }
    @case('regular') {
      {{clock | date: 'HH:mm:ss aaa'}}
    }
    @case('complete') {
      {{clock | date: 'h:mm:ss a zzzz'}}
    }
    @default {
      {{clock | date: 'HH:mm' }}
    }
  }
</time>

@if (configClock.hasIcons) {
  <img width="18" height="18" aria-hidden="true" [ngSrc]="listIcons.clock" alt="icon clock">
}

@if (configClock.hasVariableIcons && (clock | date:'H' | toNumber); as hour) {
  @if (hour >= 7 && hour < 14) {
    <img width="50" height="50" aria-hidden="true" [ngSrc]="listIcons.day" alt="icon day">
  } @else if (hour >= 14 && hour < 18) {
    <img width="50" height="50" aria-hidden="true" [ngSrc]="listIcons.aftermoon" alt="icon day">
  } @else if (hour >= 18 && hour < 24) {
    <img width="50" height="50" aria-hidden="true" [ngSrc]="listIcons.evening" alt="icon day">
  } @else if (hour >= 00 && hour < 7 ) {
    <img width="50" height="50" aria-hidden="true" [ngSrc]="listIcons.sunrise" alt="icon day">
  } @else {
    <img width="50" height="50" aria-hidden="true" [ngSrc]="listIcons.clock" alt="icon day">
  }

}
