:host {
  display: block;
}

.label-darkLight {
  transition: outline 0.1s linear;

  &:has(input:checked) {
    outline-offset: 0.25rem;
    outline: 0.3rem currentColor solid;
  }
}

.color-label {
  position: relative;
  transition: outline 0.1s linear;

  &::after {
    color: inherit;
    content: "";
    position: absolute;
    background-color: inherit;
    inset: 0;
    border-radius: 50%;
  }

  &:has(input:checked) {
    outline-offset: 0.25rem;
    outline: 0.2rem currentColor solid;
  }
}
