<form [formGroup]="formColor" class="max-w-xl border-[.1rem] rounded-lg shadow-window border-gray-300">
  <div class="flex items-center justify-between  pt-4">
    @for (item of darkLight; track item; let i = $index) {
    <div class="flex flex-col items-center px-4">
      <label
        class="w-64 h-40 rounded-md justify-between block bg-gradient-to-b from-rose-300/70 to-orange-600 label-darkLight text-orange-600/90"
        [tabIndex]="1"
        [for]="item + i"
      >
        <input
          class="hidden"
          type="radio"
          name=""
          [id]="item + i"
          formControlName="darkLight"
          [value]="item"
        />
      </label>
      <span class="pb-3 pt-5 capitalize">{{item}}</span>
    </div>
    }
  </div>

  <app-divider-x />

  <div class="flex items-center justify-between gap-4 py-3 px-4">
    <span>Color</span>
    <div class="flex gap-3 items-center w-full justify-evenly">
      @for (color of colors; track color; let i = $index) {
      <label
        class="rounded-[50%] size-7 block cursor-pointer color-label"
        [tabIndex]="1"
        [style]="{ backgroundColor: color, color }"
        [for]="color + i"
      >
        <input
          class="hidden color-input"
          type="radio"
          name="colors"
          [id]="color + i"
          [value]="color"
          formControlName="colors"
        />
      </label>
      }
    </div>
  </div>
</form>
