<main
  class="w-screen h-screen overflow-hidden flex flex-col bg-gradient-to-br from-[#4c1141] via-[#772953] to-[#e95420] relative">
  <app-navbar-desktop />
  <app-sidebar [$mainIcons]="mainIcons" [$secondaryIcons]="secondaryIcons" />

  <div class="flex-1 relative ml-[48px] p-5 h-full">
    <!-- Desktop Icons Grid -->
    <ul
      class="grid grid-cols-[repeat(auto-fill,minmax(100px,1fr))] grid-rows-[repeat(auto-fill,minmax(100px,1fr))] gap-5 p-0 m-0 h-full">
      @for (icon of desktopIcons; track icon.id) {
        <li class="list-none">
          <app-app-item [$appData]="icon" [lazeComponent]="APPS[icon.app]" />
        </li>
      }
    </ul>

    <!-- Applications Windows -->
    <div class="absolute inset-0 pointer-events-none">
      <div class="pointer-events-auto">
        <app-video-player-app />
        <app-code-editor-app />
      </div>
    </div>
  </div>
</main>
